<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. Force HTTPS + WWW first
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} !^www\.indsoft24\.com$ [NC]
    RewriteRule ^(.*)$ https://www.indsoft24.com/$1 [L,R=301]

    # 2. Send all requests into /public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
